{% extends 'desk/base.html' %}

{% block content %}

    <header class="header">
        <h1>My account</h1>
    </header>

<div class="block-flex-column postlist-box formbox-small">
    <p>My usernsme: {{ user.username }}</p>
    <p>My Email: {{ user.email }}</p>
    <p>Last logged in: {{ user.last_login }}</p>
    <a href="{% url 'desk:change_pass'%}">Change password</a>
</div>

{% if post_list %}

    <div class="header">
        <h2>My posts:</h2>
    </div>

    <div class="postlist">
      {% for post in post_list %}
        <div class="postlist-box bgcolor">
          <h2>{{ post.subject }}</h2>
          <p>{{ post.text }}</p>
          <p class="text-bold">{{ post.author }}</p>
          <p class="text-italic">{{ post.pub_date }}</p>
          <form method="post">{% csrf_token %}<button class="btn btn-outline-danger" name="post_id" value={{post.id}}>Delete post!</button></form>
        </div>
      {% endfor %}
    </div>

  {% else %}

  <div class="header">
      <h2>You haven't written anything yet</h2>
  </div>

  {% endif %}

{% endblock %}
