{% extends 'desk/base.html' %}

{% block content %}

<header class="header">
	<h1>Please log in!</h1>
</header>
<div class="borderline formbox-small">
	<form class="block-flex-column" action="{% url 'desk:sign_in' %}?next={{ request.GET.next}}" method="post">
					{% csrf_token %}
					<label for="id_username">Username</label>
					{{ form.username }}
					<label for="id_password">Password</label>
					{{ form.password }}
					<input class="btn btn-outline-success" type="submit" value="Log in!">

			<div class="error">
				{{ form.error_message }}
			</div>

	</form>
	<a href="{% url 'desk:reset' %}" style='display:inline-block; margin-top:15px;'>Forgot your password?</a>
</div>

{% endblock %}
